

  <script type="text/javascript" src="{{ url_for('static', filename='js/config.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/page.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/map.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/star.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/place.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/group.js')}}"></script>



    <script type="text/javascript" src="{{ url_for('static', filename='js/kakaologin.js')}}"></script>

</body>
</html>