

<div id="star-popup">
    <h2>맛있는 만큼 스티커를 붙여주세요!</h2>
    <div class="star-rate">
        <div class="star-item" class="star-item" id="star-1" name="star-rate">-</div>
        <div class="star-item" class="star-item" id="star-2" name="star-rate">-</div>
        <div class="star-item" class="star-item" id="star-3" name="star-rate">-</div>
        <div class="star-item" class="star-item" id="star-4" name="star-rate">-</div>
        <div class="star-item" class="star-item" id="star-5" name="star-rate">-</div>
    </div>
    <div class="btn">제출</div>
</div>
