<div class="console card" id="add-group">
    <div class="card-header">
        그룹 추가
    </div>
    <div class="card-body">
        <form action="">
             <div class="mb-3 row">
                <label for="group_name" class="col-sm-3 col-form-label">그룹 이름</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control-plaintext" id="group_name" name="group_name">
                </div>
              </div>
            <div class="mb-3 row">
                <label for="group_desc" class="col-sm-3 col-form-label">그룹 설명</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control-plaintext" id="group_desc" name="group_desc">
                </div>
              </div>
            <div class="mb-3 row">
                <label for="group_color" class="col-sm-3 col-form-label">그룹 컬러</label>
                <div class="col-sm-9">
                    <input type="color" id="group_color" name="group-color" value="tomato" style="margin-top: 0.5rem;">
                </div>
              </div>
            <input type="submit" id="add-group-submit-btn" class="btn" style="color: white; background-color: tomato; float: right;" value="추가">
        </form>
        <br><br>
    </div>
</div>