<div class="console card" id="group-info">
    <div class="card-body">
        <h3 id="g-group-name">그룹명</h3>
        <span id="g-group-desc">그룹 설명</span>
        <hr>
        <div id="g-member-list" class="member-list d-flex flex-wrap">
            <div class="member-item">member</div>
            <div class="member-item">member</div>
            <div class="member-item">member</div>
            <div class="member-item">member</div>
            <div class="member-item">member</div>
            <div class="member-item">member</div>
            <div class="member-item"><i class="fa fa-plus"></i>초대하기</div>
        </div>
    </div>
</div>