<div class="console card" id="group-info">
    <div class="card-body">
        <h3 class="g-group-name">그룹명</h3>
        <span id="g-group-desc">그룹 설명</span>
        <hr>
        <div id="g-member-list" class="member-list d-flex flex-wrap">
            <div class="member-item">member</div>
            <div class="member-item">member</div>
            <div class="member-item">member</div>
            <div class="member-item">member</div>
            <div class="member-item">member</div>
            <div class="member-item">member</div>
        </div>
    </div>
</div>

<!-- Group Timeline -->
<div id="group-timeline">
    <div class="console card" style="background-color: tomato; color: white; border-radius: 50px; border: none;">
        <div class="card-body">
            <h4>😎 <b class="g-group-name"></b>Pick 맛집 리스트</h4>
        </div>
    </div>
</div>
