<div id="place-info">
    <div class="console card" style="border: 2px solid tomato;">
        <div class="card-body">
            <h5><i class="fa fa-search" style="color: tomato;"></i> &nbsp;[<b id="place-info-title">맛집이름</b>] 검색결과</h5>
        </div>
    </div>
    <div class="console flex-rows d-flex flex-wrap" id="place-timeline" style="padding: 1rem; border: 2px solid lightgray;">

        <div id="load-more-place-timeline"><i class="fa fa-plus"></i>&nbsp; 더 많은 정보 불러오기</div>
    </div>

</div>
