<div class="console card" id="rate-place">
    <div class="card-header">
        맛집 평가
    </div>
    <div class="card-body">
        <h3>맛있는 만큼 스티커를 붙여주세요!</h3>
        <div class="star-rate">
            <div class="star-item" class="star-item" id="star-1" name="star-rate">-</div>
            <div class="star-item" class="star-item" id="star-2" name="star-rate">-</div>
            <div class="star-item" class="star-item" id="star-3" name="star-rate">-</div>
            <div class="star-item" class="star-item" id="star-4" name="star-rate">-</div>
            <div class="star-item" class="star-item" id="star-5" name="star-rate">-</div>
        </div>
        <br>
        <div class="btn" id="rate-place-btn" style="background-color: tomato; color: white;">제출</div>
        <a href="/home" style="float: right;">다음에 하기</a>
    </div>
</div>